<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to my story</title>
    <style>
        body {
            background-color: darkgray;
            color: lightblue;
        }

        header::before {
            background: url('https://a.cdn-hotels.com/gdcs/production169/d706/0f0aac2e-d76c-491a-bdb7-8782ab164670.jpg') no-repeat center center/cover;
            content: "";
            position: absolute;
            top: 1;
            left: 1;
            width: 90%;
            height: 90%;
            z-index: 1;
            opacity: 0.3;
        }

        section {
            height: 200px;
            margin: 1px 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-size: 4rem;
        }

        p {
            text-align: center;
        }

    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/registration">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <h1> Have a good day.</h1>
        <hr>
        <p>Welcome you to my welcome page.</p>
        <p style="color: darkblue">*** Special Note ***</p>
        <p>Please reload this page giving a pause.</p>
    </section>

</body>

</html>